---
import Base from "../layouts/Base.astro";

import { author } from "../../config.js";
---

<Base title="Page Not Found" description="Page not found.">
  <p>
    It looks like this page doesn't exist. If you think this is a mistake,
    please <a href=`mailto:${author.email}`>email me</a>.
  </p>
</Base>
