---
import Base from "../layouts/Base.astro";
---

<Base title="You're Offline" description="You're offline.">
  <p>
    It looks like you're offline. But if everything is working properly, you
    should be able to visit any pages you've been to previously. Try returning
    to the <a href="/">home page</a>.
  </p>
</Base>
