---
import Nav from "./Nav.astro";
import Social from "./Social.astro";
---

<details>
  <summary>Menu</summary>
  <div class="menu-content">
    <div>
      <div class="title">Navigation</div>
      <Nav />
    </div>

    <div class="social">
      <div class="title">Social</div>
      <Social />
    </div>
  </div>
</details>

<style>
  summary {
    list-style: none;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  /* Slide menu in from the side */
  .menu-content {
    display: grid;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #fff; /* Set a background color for the menu */
    box-shadow: #999 0px 1px 4px;

    height: 100vh;
    /* Positioning */
    /* position: absolute; */
    position: fixed;
    z-index: 1;
    /* translate: 1000%; */
    /* transform: translateX(1000%); */
    left: -100%; /* Start off-screen */
    transition: transform 0.25s ease;
  }

  details {
    position: relative;
  }

  details[open] .menu-content {
    /* translate: -100%;
    left: 102%; */
    transform: translateX(-100%);
    left: 100%;
  }

  .title {
    font-weight: 700;
  }
</style>
