<nav>
  <a href="/contact/">Contact</a>
  <a href="/feed.xml">Feed</a>
  <a href="https://samfeldstein.xyz" target="_blank">Personal Site</a>
</nav>

<style>
  nav a {
    display: inline-block;
    padding: 0.5rem;
  }
</style>
