<a id="skiplink" href="#main-content" aria-label="Skip Link">Skip to Content</a>

<style>
  a {
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    padding: 0.5em;
    position: absolute;
    z-index: 1;
    translate: -1000%;
    transition-duration: 0.25s;
    text-decoration: none;
    box-shadow: #999 -1px 1px 1px;
  }

  a:focus {
    translate: 0;
  }
</style>
