---
// Components
import Head from "../components/Head.astro";
import Skiplink from "../components/Skiplink.astro";
import MobileHeader from "../components/MobileHeader.astro";
import Footer from "../components/Footer.astro";

// Props
const { title, description } = Astro.props;
---

<html lang="en">
  <Head title={title} description={description} />

  <body>
    <Skiplink />
    <MobileHeader />
    <main id="main-content">
      <h1>{title}</h1>
      <slot />
    </main>
    <Footer />
  </body>
</html>
